@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8501bm');
  src:  url('fonts/icomoon.eot?8501bm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8501bm') format('truetype'),
    url('fonts/icomoon.woff?8501bm') format('woff'),
    url('fonts/icomoon.svg?8501bm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-copy-1:before {
  content: "\e900";
}
.icon-bell-copy-1:before {
  content: "\e901";
}
.icon-check-copy-1:before {
  content: "\e902";
}
.icon-corner-up-right-copy-1:before {
  content: "\e903";
}
.icon-eye-copy-1:before {
  content: "\e904";
}
.icon-eye-off-copy-1:before {
  content: "\e905";
}
.icon-mail-copy-1:before {
  content: "\e906";
}
.icon-menu-copy-1:before {
  content: "\e907";
}
.icon-search-copy-1:before {
  content: "\e908";
}
.icon-trash:before {
  content: "\e909";
}
.icon-x-copy-1:before {
  content: "\e90a";
}
